body{
    background-color: black;
    color: white;
    height: 120vh;
    overflow-x: hidden;
    width: 90.7vw;
}
.main{
    display: flex;
    height: 100vh;
    flex-direction:row;
}

@media screen and (max-width: 1300px){
    .main{
        height: 110vh;
        overflow-x: hidden;
    }
}

@media screen and (max-width:430px){
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid rgb(37, 46, 148); */
        height: 130vh;
        width: 99.5vw;
        overflow-x: hidden;
        gap: 10px;
        /* padding-right: 10px; */
    }
}